<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" class="text-4xl text-red-800 font-bold text-center my-10">Tato adresa bohužel neexistuje.</p>
            <p role="alert" class="text-center"><a href="/" class="underline text-2xl text-black-800 font-bold my-10">Zpět na hlavní stránku.</a></p>
        </LayoutView>
    </NotFound>
</Router>
