@using Microsoft.AspNetCore.Components.Forms;
@using Ppt23.Shared;
@inject HttpClient Http


@{
    if (editingItem == null && IsInEditMode)
    {
        TurnOnEdit();
    }
}

@if (Vyb != null && !IsInEditMode)
{
    <div class=@ziskejBarvuRadku(Vyb)>@Vyb.Name</div>
    <div class=@ziskejBarvuRadku(Vyb)>@Vyb.BoughtDateTime.ToString("yyyy-MM-dd")</div>
    if (Vyb.LastRevisionDateTime == null)
    {
        <div class=@ziskejBarvuRadku(Vyb)>Revize zatim neprobehla</div>

    }
    else
    {
        <div class=@ziskejBarvuRadku(Vyb)>@Vyb.LastRevisionDateTime?.ToString("yyyy-MM-dd")</div>

    }
    <div class=@ziskejBarvuRadku(Vyb)>@ziskejAnoNe(Vyb)</div>
    <div class=@ziskejBarvuRadku(Vyb)>@Vyb.Cena</div>
    <div class=@ziskejBarvuRadku(Vyb)>
        <button class="twbtn bg-red-400" @onclick="() => SmazEventCallback.InvokeAsync()">X</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-1" @onclick="() => ProvesRevizi()">provest revizi</button>
        <button @onclick="() => TurnOnEdit()" class="border-[1px] border-amber-600 rounded-sm text-sm px-2 py-2">✏️</button>
        <a href="vybaveni/@Vyb.Id">Detail</a>
    </div>
}
else if (editingItem != null && IsInEditMode)
{
    <EditForm class="bg-green-300 col-span-5 grid grid-cols-5" Model=@editingItem OnValidSubmit="() => TurnOffEdit(true)">
        <DataAnnotationsValidator /> 
        <InputText class="border-2 border-slate-300" @bind-Value=@editingItem.Name />
        <InputDate class="border-2 border-slate-300" @bind-Value=@editingItem.BoughtDateTime />
        <div></div>
        <div class="bg-green-300">@ziskejAnoNe(editingItem)</div>
        <InputNumber class="border-2 border-slate-300" @bind-Value=@editingItem.Cena />
        <ValidationMessage For="@(() => editingItem.Name)" class="text-xs text-red-500"/>
        <ValidationMessage For="@(() => editingItem.Cena)" class="text-xs text-red-500"/>

    </EditForm>
    <div class="bg-green-300">
        @if (ChildContent == null)
        {
            <button @onclick="() => TurnOffEdit(true)" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2">
                Ok
            </button>
            <button @onclick="() => TurnOffEdit(false)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2">
                zruš
            </button>
        }
        else
        {
            <button @onclick="() => TurnOffEdit(true)" type="submit" class="twbtn bg-blue-500">Pridej</button>
            @ChildContent
        }
    </div>
}
@code
{

    // <InputDate class="border-2 border-slate-300" @bind-Value=@editingItem.LastRevisionDateTime />
    bool success = true;

    [Parameter, EditorRequired] public VybaveniVM? Vyb
    {
        get;
        set;
    }
    [Parameter] public bool IsInEditMode { get; set; }
    VybaveniVM? editingItem { get; set; }
    [Parameter] public EventCallback SmazEventCallback { get; set; }
    [Parameter] public EventCallback RevizeEventCallback { get; set; }
    [Parameter] public EventCallback EditDoneCallback { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    async Task ProvesRevizi()
    {
        Console.WriteLine("revize provadena");
        RevizeViewModel vm = new()
        {
            Name = $"Revize z {DateTime.Now.Ticks}",
            DateTime = DateTime.Now,
            VybaveniId = Vyb!.Id
        };
        var odpoved = await Http.PostAsJsonAsync("revize", vm);
        if (odpoved.IsSuccessStatusCode)
        {
            Vyb.LastRevisionDateTime = vm.DateTime;
        }
        else
        {
            Console.WriteLine(odpoved.Content);
        }
    }

    private void NaStrankuDetailu()
    {
        return;
    }


    private void TurnOffEdit(bool success)
    {
        Console.WriteLine("turnoff edit on");
        if (success)
        {
            if (editingItem != null && editingItem.IsValid())
            {
                editingItem?.MapTo(Vyb);
            }
            else
            {
                return;
            }
        }
        IsInEditMode = false;
        editingItem = null;
        if (success)
        {
            EditDoneCallback.InvokeAsync(Vyb);
        }
        StateHasChanged();
    }

    private void TurnOnEdit()
    {
        if (Vyb == null)
        {
            return;
        }
        IsInEditMode = true;
        editingItem = Vyb.Copy();
    }

    string ziskejAnoNe(VybaveniVM v)
    {
        if (v.IsRevisionNeeded)
        {
            return "Ano";
        }
        return "Ne";
    }

    string ziskejBarvuRadku(VybaveniVM v)
    {
        if (v.IsRevisionNeeded)
        {
            return "bg-red-300";
        }
        return "bg-cyan-300";
    }
}