@page "/revize/{Id}"
@using Ppt23.Client.ViewModels
@using Ppt23.Client.Components
@inject HttpClient Http

<h1 class="text-green-500">@Id</h1>
<input class="border-2" type="text" @bind-value="inputText" />
<button type="submit" class="twbtn bg-yellow-500 border-2" @onclick="() => Hledej()">Hledej</button>
<div>@inputText</div>
@foreach (VybaveniVM vyb in seznamVybaveni2)
{
    <div>@vyb.Name</div>

    <div>@vyb.BoughtDateTime</div>

    <div>@vyb.LastRevisionDateTime</div>

    <div>@vyb.Cena</div>
}

@code {
    [Parameter] public string Id { get; set; } = "ahoj";

    private string? inputText { get; set; }

    List<VybaveniVM>? seznamVybaveni;
    List<VybaveniVM> seznamVybaveni2 = new();

    //protected override async Task OnInitializedAsync()
    //{
    //    //var vyb = await Http.GetFromJsonAsync<VybaveniVM>($"vybaveni/{Id}");
    //    //vybaveni = vyb;
    //}

    async Task Hledej()
    {
        seznamVybaveni2 = new();
        seznamVybaveni = await Http.GetFromJsonAsync<List<VybaveniVM>>("vybaveni");
        foreach (VybaveniVM v in seznamVybaveni)
        {
            if (v.Name.Contains(inputText))
            {
                seznamVybaveni2.Add(v);
            }
        }

    }
}
